[submodule "extern/SFML"]
	path = extern/SFML
	url = https://github.com/SFML/SFML.git
	branch = master
[submodule "extern/easy_profiler"]
	path = extern/easy_profiler
	url = https://github.com/yse/easy_profiler
